* {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Quicksand', sans-serif; 
  background-color:rgb(208,208,208); 
  color: rgb(101,144,222);

}

 #mainBox {
  height: 600px;
  background-color: rgb(101,144,222); 
 
}

.heading{
  font-size: xx-large;
}

#main {
  padding: 40px;

}
/* .cards-container {
  column-break-inside: avoid;
} */

.card {
    display: inline-block;
    overflow: visible;
  }

.cardSize{
  height: 100%;
  background-color: rgb(101,144,222);
}

.test {
  border: 2px solid black;
}

.form {
  background-color: rgb(101,144,222);
 
}

.playlist {
  padding: 50px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  background-color:rgb(208,208,208); 

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}
.size {
  width: 60px;
  height: 60px;
  
}

.brand-logo {
  font-family: 'Ubuntu', sans-serif;
}

/* .a[classname='findbtn']{
  background-color: rgb(101,144,222)
} */

.findbtn {
 background-color: rgb(101,144,222) !important;
}

@media screen and (max-width:900px) {
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color:rgb(208,208,208); 
  
  }
}
