* {
  font-family: 'Ubuntu', sans-serif;
  /* background-color: gray;  */
}

 #mainBox {
  height: 600px;
  /* background-color: ;  */
}

.cardSize{
  height: 100%;
}

.test {
  border: 2px solid black;
}

.form {
  color: white;
}



/* 
#row1{
  height: 40%;
}

#row2Margin{
  height: 500px;
}

.mainHeight{
  height
} */