* {
  font-family: 'Ubuntu', sans-serif;
}

 #mainBox {
  height: 500px;
}

.cardSize{
  height: 100%;
}

.test {
  border: 2px solid black;
}
/* 
#row1{
  height: 40%;
}

#row2Margin{
  height: 500px;
}

.mainHeight{
  height
} */ */