* {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Quicksand', sans-serif; 
  background-color:rgb(208,208,208); 
  color: rgb(101,144,222)
}

nav {
  height: 60px;
}

#navBar {
  background-color:rgb(208,208,208); 
}

 #mainBox {
  height: 600px;
  background-color: rgb(101,144,222); 
 
}

.heading{
  font-size: xx-large;
}

#main {
  padding: 40px;

}
/* .cards-container {
  column-break-inside: avoid;
} */

.card {
    display: inline-block;
    overflow: visible;
  }

.cardSize{
  height: 100%;
  background-color: rgb(101,144,222);
}

#logo {
  height: 60px;
}

.form {
  background-color: rgb(101,144,222);
 
}

#playlist {
  padding: 30px;
}
#brand {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px  rgb(101,144,222);
}

#weather {
  padding: 30px;
}
.card-content{
  font-weight: bold;
  font-style: italic;
}
#Lyrics {
  font-size: large;
  color:teal;
  

}

#status {
  padding: 10px;
}

.allBtns {
 background-color: rgb(101,144,222);
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}
.size {
  height: 60px;
}
  
#city, #name {
  width: 75%;
}
.card {
  border: 1px solid teal;
  box-shadow:1px 1px;
}

#nameLabel, #cityLabel, #moodLabel {
  font-size: 20px;
}

#radioWrapper {
  padding: 5px 0 5px 0;
}

#submitBtn {
  margin: 10px 0 10px 0;
}

.findbtn {
  background-color: rgb(101,144,222) !important;
}

#forecast {
  background-color: rgb(101,144,222);
}

#cardElem {
  background-color: rgb(101,144,222);
}

#weatherIcons {
  font-size: 100px;
  color: rgb(208,208,208);
  background-color: rgb(101,144,222);
}

#weatherDesc {

}

@media screen and (max-width:900px) {
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color:rgb(208,208,208); 
  }
}
