* {
  font-family: 'Quicksand', sans-serif; 
  background-color:rgb(208,208,208); 
  color: rgb(101,144,222)
}

nav {
  height: 60px;
}

#navBar {
  background-color:rgb(208,208,208); 
}

#mainBox {
  height: 600px;
  background-color: rgb(101,144,222); 
}

.card {
  display: inline-block;
  overflow: visible;
}

.cardSize{
  height: 100%;
  background-color: rgb(101,144,222);
}

#logo {
  height: 60px;
}

.form {
  background-color: rgb(101,144,222);
}

#playlist, #weather {
  padding: 30px 50px 30px 50px;
}

#brand {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px  rgb(101,144,222);
}

.card-content{
  font-weight: bold;
  font-style: italic;
  background-color: rgb(101,144,222);
  color: rgb(208,208,208);
}

#aboutSensify {
  background-color: rgb(101,144,222);
  color: rgb(208,208,208);
}

.lyrics {
  color:teal;
}

#status {
  padding: 10px;
}

.allBtns {
 background-color: rgb(101,144,222);
}
<<<<<<< HEAD

.left {
  width: 30%;
}

.right {
  width: 70%;
}
.size {
  width: 60px;
  height: 60px;
=======
>>>>>>> 2b0f40da79ce5695e4994ce29daf8b19c0347b66
  
#city, #name {
  width: 75%;
}

.card {
  border: 1px solid teal;
  box-shadow:1px 1px;
}

#nameLabel, #cityLabel, #moodLabel {
  font-size: 20px;
}

#radioWrapper {
  padding: 5px 0 5px 0;
}

#submitBtn {
  margin: 10px 0 10px 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD:style.css
=======
>>>>>>> b43c73781cf1365739ac12dfe27106141970eeb6
/* .a[classname='findbtn']{
  background-color: rgb(101,144,222)
} */

.findbtn {

 background-color: rgb(101,144,222) !important;

#weather {
  

}


=======
.findbtn {
  background-color: rgb(101,144,222) !important;
}
>>>>>>> 2b0f40da79ce5695e4994ce29daf8b19c0347b66

#currentCity {
  font-size: 30px;
}

#forecast {
  background-color: rgb(101,144,222);
}

#cardElem {
  background-color: rgb(101,144,222);
}

#weatherIcons {
  font-size: 100px;
  color: rgb(208,208,208);
  background-color: rgb(101,144,222);
}

#weatherDesc {
  background-color: rgb(208,208,208);
}

#footer, #footerLinks, #footerRow, #footerCopyright, #copyright {
  font-family: 'Quicksand', sans-serif; 
  background-color: rgb(101,144,222);
  color: rgb(208,208,208);
}

.footerCol {
  background-color: rgb(101,144,222);
  color: rgb(208,208,208);
}

#codeIcon {
  background-color: rgb(101,144,222);
  color: rgb(208,208,208);
}

<<<<<<< HEAD

=======
#githubLink {
  background-color: rgb(101,144,222);
  color: rgb(208,208,208);
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width:900px) {
  #playlist, #weather {
    padding: 30px;
  }
}
>>>>>>> 2b0f40da79ce5695e4994ce29daf8b19c0347b66
